# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

# Upstash Redis
UPSTASH_REDIS_URL=
UPSTASH_REDIS_TOKEN=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev

# App
PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
API_URL=http://localhost:3001
